/.vscode
/bin
/test
/update
/get_printer.php
/test.php
/test2.php
/test — копия.bat
/1.txt
/1.diff
/oldfiles/
/backup/
/xampp-control.ini
/Новый текстовый документ.diff
/lib/nodejs
/remote-server
/version.txt
/.htaccess
/dev