<div class="fields info-fields">
    <span class="fields-label">Sifariş nömrəsi</span>
    <input class="fields-info-value input report_order_id" disabled  value="{{row.value}}" data-id="{{row.value}}">   
</div>