<div class="component_container mrgn-bottom-50 width-50 ">
    <canvas id="categoryCharts" height="50"></canvas>
</div>

{% include '/component/pulgin/charts/chartsScript.twig' %}

<script defer>
    var catCharts;
    var route = '{{ data.scriptRoute }}';
    initCharts(catCharts, 'categoryCharts', route);



    $('body').on('click', '.load-charts', function() {   

        if(!$(this).hasClass('aclicked')) {
            $(this).addClass('aclicked');
            var pick_date = $(this).data('sort-value');
            drawCharts(pick_date);
        }
    });  

</script>

